@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.detail{
    min-height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  background: #363636;
}

.question {
  display: flex;
  margin-left: 0px;
  padding-bottom: 10px;
}
.question span{
  padding: auto;
  padding-right: 8px;
}




.boxes {
  margin: auto;
  padding: 50px;
  background: #484848;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80vw;
  margin-bottom: 40px;
}
.answer{
  padding: 4px 10px;
  width: calc(100%/4);
}
 
.answer label{
  font-size: 2rem;
  color: rgb(253, 253, 253);
  font-weight: 500;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tickBtn{
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.submitBtn{
  width: 160px;
  height: 60px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(251, 251, 251);
  background-color: rgb(91, 250, 128);
  margin: 20px;
  
}