<div class="detail mt-4">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row">
            <div class="question">
                <span><h2>Câu 1:</h2> </span>
                <h2>Thuận yêu ai?</h2>
            </div>
            <div class="boxes">

                <div class="answer">
                    <input name="cau1" type="radio" id="box-1">
                    <label for="box-1">Lung</label>
                </div>

                <div class="answer">
                    <input name="cau1" type="radio" id="box-2">
                    <label for="box-2">Linh</label>
                </div>

                <div class="answer">
                    <input name="cau1" type="radio" id="box-3">
                    <label for="box-3">Lấp</label>
                </div>

                 <div class="answer">
                    <input name="cau1" type="radio" id="box-4">
                    <label for="box-4">Lánh</label>
                </div>
            </div>


        </div>
    </div>
</div>