<div class="footer">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3 style="letter-spacing: 5px;">HỖ TRỢ KHÁCH HÀNG</h3>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i
									class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i
									class="fa fa-angle-double-right"></i>Hotline</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i
									class="fa fa-angle-double-right"></i>Email</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i
									class="fa fa-angle-double-right"></i>Blog</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3 style="letter-spacing: 5px;">KHAOSAT.NET</h3>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i
									class="fa fa-angle-double-right"></i>Copyright © 2022 khaosat.net</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>All
								rights reserved</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Phiên
								bản 8.5.0</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3 style="letter-spacing: 5px;">ĐẠI HỌC ĐÔNG Á</h3>
					<ul class="list-unstyled quick-links">
						<p>Một sản phẩm của:</p>
						<p style="font-weight: bold">NHÓM 6 SINH VIÊN TRƯỜNG ĐẠI HỌC ĐÔNG Á</p>
						<P>33 Xô Viết Nghệ Tĩnh, phường Hòa Cường Nam, Q. Hải Châu, TP. Đà Nẵng.</P>
						<p>Lớp: IT20A2B</p>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/xuquang.changhe.75"><i class="fa-brands fa-facebook-square"></i></a></li>
						<li class="list-inline-item"><a href="https://www.facebook.com/xuquang.changhe.75"><i class="fa-brands fa-twitter-square"></i></a></li>
						<li class="list-inline-item"><a href="https://www.facebook.com/xuquang.changhe.75"><i class="fa-brands fa-instagram-square"></i></a></li>
						<li class="list-inline-item"><a href="https://www.facebook.com/xuquang.changhe.75"><i class="fa-brands fa-google"></i></a></li>
						<li class="list-inline-item"><a href="https://www.facebook.com/xuquang.changhe.75" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Made in Viet Nam.</p>
				</div>
				<hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
</div>